* {
  list-style: none;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: rgba(235, 235, 235, 0.496);
  width: 30%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

input {
  width: 50%;
}

.container {
  border: 2px black solid;
}

h2 {
  text-align: center;
}

form {
  text-align: center;
}

.book {
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.title {
  margin-bottom: 5px;
}

.title,
.author {
  padding: 1px 4px 1px 4px;
}

li:nth-child(odd) {
  background: #d3d3d3;
}

hr {
  margin-top: 30px;
  width: 100px;
  border: 1px solid gray;
}

.addBtn {
  width: 60px;
  text-align: center;
  margin-left: 36.5%;
  padding: 2px;
  margin-top: 5px;
}

#removebtn {
  padding: 1px 2px;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.8);
  margin: 2px 5px;
  font-size: 0.9em;
}

#date {
  margin: 1% 1% 1% 0;
  text-align: center;
  font-weight: bolder;
}

.bookShelfe {
  margin: 0;
}
